<div>
  <h2>Paired Bluetooth Devices</h2>
  <div *ngFor="let device of pairedDevices">
    <p>{{ device.name }} ({{ device.address }})</p>
    <button (click)="selectedDevice = device.address">Select</button>
  </div>

  <h2>Unpaired Bluetooth Devices</h2>
  <div *ngFor="let device of unpairedDevices">
    <p>{{ device.name }} ({{ device.address }})</p>
    <button (click)="selectedDevice = device.address">Select</button>
  </div>

  <!-- Button to connect to selected device -->
  <button (click)="connectToDevice()" [disabled]="!selectedDevice">
    Connect to selected device
  </button>
</div>
